body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
.container {
    max-width: 118.75rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.main-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.main__tab {
    width: 50rem;
    border-top: 0.1rem solid;
    padding: 1rem;
}

.checkbox-icon {
    max-width: 1.8rem;
    opacity: 0;
    transition: opacity 0.1s ease, transfrom 0.1s ease;
}

.main__tabs:hover .checkbox-icon {
    opacity: 1;
}

.tab-checkbox:checked ~ .tab-label .checkbox-icon {
    transform: rotate(45deg);
}

.label-text {
    color: #393E46;
}

.main__tabs:hover .label-text, .tab-checkbox:checked ~ .tab-label .label-text {
    color: #000;
}

.tab-label {
    display: flex;
    justify-content: space-between;
}

.tab-content {
    display: flex;
    justify-content: center;
}

.tab-content__image {
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

input[type="radio"] {
    display: none;
    -webkit-appearance: none;
    appearance: none;
}

.main__tab:hover .tab-content__image, .tab-checkbox:checked:last-of-type ~ .tab__content-label .tab-content__image{
    max-height: 20rem;
}

.tab-checkbox:not(:last-of-type) ~ .tab__content-label .tab-content__image {
    max-height: 0;
}